data/runoff/*.csv filter=lfs diff=lfs merge=lfs -text
data/runoff/runoff_data_2000_2006.csv filter=lfs diff=lfs merge=lfs -text
data/runoff/runoff_data_2007_2013.csv filter=lfs diff=lfs merge=lfs -text
data/runoff/runoff_data_2014_2024.csv filter=lfs diff=lfs merge=lfs -text
